<%= paginator.render do -%>
  <div class="pagination pagination-centered">
    <ul>
      <% unless current_page.first? %>
        <li><%= prev_page_tag %></li>
      <% end %>

      <% each_page do |page| -%>
        <% if page.left_outer? or page.right_outer? or page.inside_window? -%>
          <li class="<%= "active" if page.current? %>">
            <%= page_tag page %>
          </li>
        <% end -%>
      <% end -%>

      <% unless current_page.last? %>
        <li><%= next_page_tag %></li>
      <% end %>
    <ul>
  </div>
<% end -%>
