<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-toggle="collapse"
        data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <%= link_to "likemarks", root_path, class: "brand hidden-phone" %>
      <%= form_tag search_path, method: "get",
        class: "navbar-search pull-left", id: "search-form" do %>
        <%= search_field_tag "q", query,
          class: "search-query span4",
          placeholder: t('header.search') %>
      <% end %>
      <nav class="nav-collapse collapse" id="top-menu">
        <ul class="nav pull-right">
          <% if current_user %>
            <li <%= active_class_for user_path(current_user) %>>
              <%= link_to t('header.my_links'),
                user_path(current_user),
                id: 'load-links' %>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%= link_to t('header.logout'), signout_path,
                id: "fb-logout" %>
            </li>
          <% else %>
            <li>
              <%= link_to t('header.fb_login'), "/auth/facebook",
                id: "fb-login" %>
            </li>
          <% end %>
        </ul>
      </nav><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</header>
